<div class="hada4">
    <p>混合肌</p>
</div>

<div class="photo4">
    <%= image_tag "kongou.jpg", class:"kongou1" %>
</div>

<div class="taitoru4">
    <p>○油分・水分○</p>
</div>
<div class="shosai4">
    <p>油分×（過剰）・水分×（少ない）</p>
    <p>油分が多く、水分が少ない</p>
</div>
<div class="taitoru4">
    <p>○特徴○</p>
</div>
<div class="shosai4">
    <p>比較的キメは粗い。部分的、もしくは全体的にカサカサ、ゴワゴワしている。</p>
    <p>Ｔゾーンや頬の毛穴の開きが目立つ。</p>
    <p>皮膚が硬く、ファンデーションが崩れやすい。</p>
</div>
<div class="taitoru4">
    <p>○スキンケア○</p>
</div>
<div class="shosai4">
    <p>充分な水分補給をした上で、必ずクリームでフタをすること。</p>
    <p>Tゾーンなどの脂っぽい部分には、油分の少ないスキンケア商品を</p>
    <p>乾燥が目立つ部分には、保湿効果が高い乳液やクリームを</p>
    <p>など乾燥している部位を重点的に保湿するように。</p>
</div>
<div class="taitoru4">
    <p>○おすすめ商品○</p>
</div>
<div class="shosai44">
    <div class="gokujun">
        <%= image_tag "gokujun.jpg", class:"gokujun1" %>
        <p>肌ラボ 極潤ヒアルロン液</p>
        <p>¥814</p>
    </div>
    <div class="ihada">
        <%= image_tag "ihada.jpg", class:"ihada1" %>
        <p>イハダ 薬用ローション</p>
        <p>¥1650</p>
    </div>
    <div class="muj">
        <%= image_tag "muji.jpg", class:"muj1" %>
        <p>化粧水 敏感肌用 高保湿タイプ</p>
        <p>¥690</p>
    </div>
    
</div>
