<div class="hada">
    <p>普通肌</p>
</div>
<div class="taitoru">
    <p><油分・水分></p>
</div>
<div class="shosai">
    <p>油分◎（適量）・水分◎（適量～多い）</p>
    <p> 油分・水分のバランスが良い</p>
</div>
<div class="taitoru">
    <p><特徴></p>
</div>
<div class="shosai">
    <p>うるおいにより適度なツヤがあり、なめらか。キメが整っており、やわらかい。</p>
    <p>毛穴はＴゾーンくらいしか目立たない。</p>
    <p> ファンデーションののりがよく、ヨレやくずれなどが気にならない。</p>
</div>
<div class="taitoru">
    <p><スキンケア></p>
</div>
<div class="shosai">
    <p>化粧水もクリームも、基本的にはメーカー推奨の基本量をつけること。</p>
    <p>肌質は、生活習慣により変わることがあるため、睡眠や食事などの乱れに注意。</p>
</div>
<div class="taitoru">
    <p><おすすめ商品></p>
</div>
<div class="shosai">
</div>
