<div class="hada2">
    <p>脂性肌</p>
</div>

<div class="photo2">
    <%= image_tag "sisei.jpg", class:"sisei1" %>
</div>

<div class="taitoru2">
    <p>○油分・水分○</p>
</div>
<div class="shosai2">
    <p>油分×（過剰）・水分◎（適量～多い）</p>
    <p>油分・水分共に多い</p>
</div>
<div class="taitoru2">
    <p>○特徴○</p>
</div>
<div class="shosai2">
    <p>うるおい、弾力はあるが、脂っぽくベタつく。キメは粗い。</p>
    <p>Ｔゾーンや頬の毛穴の開き、黒ずみ毛穴などが目立つ。</p>
    <p>ファンデーションが崩れやすい。</p>
</div>
<div class="taitoru2">
    <p>○スキンケア○</p>
</div>
<div class="shosai2">
    <p>化粧水は基本の量を。</p>
    <p>そのうるおいを閉じ込めるフタには、クリームやテクスチャーの軽いものを少量つけること。</p>
    <p>さっぱりタイプの保湿ケアアイテムを使用すると良い。</p>
    <p>脂性肌の方が高保湿なアイテムを使用しているとニキビの原因になる場合もあるので注意。</p>
</div>
<div class="taitoru2">
    <p>○おすすめ商品○</p>
</div>
<div class="shosai22">
    <div class="curel">
        <%= image_tag "curel.jpg", class:"curel1" %>
        <p>キュレル 皮脂トラブルケア 化粧水</p>
        <p>¥1980</p>
    </div>
    <div class="meranocc">
        <%= image_tag "meranocc.jpg", class:"meranocc1" %>
        <p>メラノCC 薬用しみ対策 美白化粧水</p>
        <p>¥990</p>
    </div>
    <div class="bigansui">
        <%= image_tag "bigansui.jpg", class:"bigansui1" %>
        <p>明色化粧品 明色 美顔水 薬用化粧水</p>
        <p>¥880</p>
    </div>
   
</div>
