<div class="hada">
    <p>乾燥肌</p>
</div>
<div class="taitoru">
    <p><油分・水分></p>
</div>
<div class="shosai">
    <p>油分×（過剰）・水分×（少ない）</p>
    <p>油水分ともに少ない</p>
</div>
<div class="taitoru">
    <p><特徴></p>
</div>
<div class="shosai">
    <p>キメは細かいが、浅く、もしくは見えにくい状態。</p>
</div>
<div class="taitoru">
    <p><スキンケア></p>
</div>
<div class="shosai">
    <p>水溶性と油溶性のうるおい成分の両方を充分に補給するために、</p>
    <p>化粧水とクリームの両方をしっかり補給することが大切。</p>
    <p>現在使っている保湿クリームや乳液を高保湿なものに変える、</p>
    <p>顔の中でも特に皮膚が薄い目元にはアイクリームなどを使用する、</p>
    <p>など毎日の保湿ケアの方法を見直すと良い。</p>
</div>
<div class="taitoru">
    <p><おすすめ商品></p>
</div>
<div class="shosai">
</div>
