<div class="hada3">
    <p>乾燥肌</p>
</div>

<div class="photo3">
    <%= image_tag "kanso.png", class:"kanso1" %>
</div>

<div class="taitoru3">
    <p>○油分・水分○</p>
</div>
<div class="shosai3">
    <p>油分×（過剰）・水分×（少ない）</p>
    <p>油水分ともに少ない</p>
</div>
<div class="taitoru3">
    <p>○特徴○</p>
</div>
<div class="shosai3">
    <p>キメは細かいが、浅く、もしくは見えにくい状態。</p>
</div>
<div class="taitoru3">
    <p>○スキンケア○</p>
</div>
<div class="shosai3">
    <p>水溶性と油溶性のうるおい成分の両方を充分に補給するために、</p>
    <p>化粧水とクリームの両方をしっかり補給することが大切。</p>
    <p>現在使っている保湿クリームや乳液を高保湿なものに変える、</p>
    <p>顔の中でも特に皮膚が薄い目元にはアイクリームなどを使用する、</p>
    <p>など毎日の保湿ケアの方法を見直すと良い。</p>
</div>
<div class="taitoru3">
    <p>○おすすめ商品○</p>
</div>
<div class="shosai33">
    <div class="okome">
        <%= image_tag "okome", class:"okome1" %>
        <p>毛穴撫子 お米の化粧水</p>
        <p>¥1650</p>
    </div>
    <div class="gokujunaka">
        <%= image_tag "gokujunaka", class:"gokujunaka1" %>
        <p>肌ラボ 極潤薬用ハリ化粧水</p>
        <p>¥1100</p>
    </div>
    <div class="muji">
        <%= image_tag "muji", class:"muji1" %>
        <p>化粧水 敏感肌用 高保湿タイプ</p>
        <p>¥690</p>
    </div>
   

</div>


