
    .hada3{
        background-color: #C9F5D1;
        text-align: center;
        padding-top: 25px;
        font-size: 40px
    }
    
    .photo3{
        background-color: #F5F5F5;
    }

    .kanso1{
        background-color: #F5F5F5;
        width: 26%;
        margin-left: 37%;
    }

    .taitoru3{
        background-color: #C9F5D1;
        font-size: 20px;
        text-align: center;
    }

    .shosai3{
        background-color: #F5F5F5;
        font-size: 15px;
        text-align: center;
    }

    .shosai33{
        background-color: #F5F5F5;
        font-size: 15px;
        display:flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .okome p{

    }

    .okome1{
        width: 60%;

    }

    .gokujunaka p{

    }

    .gokujunaka1{
        width: 45%;

    }

    .muji1{
        width: 45%;

    }

    .muji p{

    }