   
    .hada1{
        background-color: #F5F0E1;
        text-align: center;
        padding-top: 25px;
        font-size: 40px
    }

    .photo1{
        background-color: #F5F5F5;
    }

    .futu1{
        background-color: #F5F5F5;
        width: 26%;
        margin-left: 37%;
    }

    .taitoru1{
        background-color: #F5F0E1;
        font-size: 20px;
        text-align: center;
        
    }

    .shosai1{
        background-color: #F5F5F5;
        font-size: 15px;
        text-align: center;
    }

    .shosai11{
        background-color: #F5F5F5;
        font-size: 15px;
        display:flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    

    .hatomugi p{
   
    }

    .hatomugi1{
        width: 80%;
 
    }

    .aqualabel p{

    }

    .aqualabel1{
        width: 45%;
        margin-right: 50%;
    }

    .isofurabon1{
        width: 45%;
 
    }

    .isofurabon p{
   
    }