@media screen and (max-width:480px) {
    .hada{
        background-color: #F5F5F5;
    }

    .hada p{
        text-align: center;
        padding-top: 25px;
        font-size: 40px
    }

    .taitoru{
        background-color: #F5F5F5;
        font-size: 20px  
    }

    .shosai{
        background-color: #F5F5F5;
        font-size: 15px  
    }
} 