
    .hada4{
        background-color: #C9D1F5;
        text-align: center;
        padding-top: 25px;
        font-size: 40px
    }

    .photo4{
        background-color: #F5F5F5;
    }

    .kongou1{
        background-color: #F5F5F5;
        width: 26%;
        margin-left: 37%;
    }

    .taitoru4{
        background-color: #C9D1F5;
        font-size: 20px;
        text-align: center;
    }

    .shosai4{
        background-color: #F5F5F5;
        font-size: 15px;
        text-align: center;
    }

    .shosai44{
        background-color: #F5F5F5;
        font-size: 15px;
        display:flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .gokujun p{

    }

    .gokujun1{
        width: 60%;

    }

    .ihada p{

    }

    .ihada1{
        width: 45%;

    }

    .muj1{
        width: 45%;

    }

    .muj p{

    }