@media screen and (max-width:480px) { 
  .hada{
        background-color: #F5F5F5;
        font-size: 30px
    }

    .taitoru{
        background-color: #F5F5F5;
        font-size: 20px  
    }

    .shosai{
        background-color: #F5F5F5;
        font-size: 15px  
    }
}