.hada2{
    background-color: #F5D5DA;
    text-align: center;
    padding-top: 25px;
    font-size: 40px
}

.photo2{
    background-color: #F5F5F5;
}

.sisei1{
    background-color: #F5F5F5;
    width: 26%;
     margin-left: 37%;
}

.taitoru2{
    background-color: #F5D5DA;
    font-size: 20px;
    text-align: center;
}

.shosai2{
    background-color: #F5F5F5;
    font-size: 15px;
    text-align: center;
}

.shosai22{
    background-color: #F5F5F5;
    font-size: 15px;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.curel p{
   
}

.curel1{
    width: 50%;
    
}

.meranocc p{
   
}

.meranocc1{
    width: 50%;
    
}

.bigansui1{
    width: 45%;

}

.bigansui p{
  
}