
    .col-12{
        background-color: #F5F5F5;
    }

    .col-12 p{
        text-align: center;
        font-size: 30px;
    }

    .sindanbotan{
        background-color: #F5F5F5;
        text-align: center;
    }

    .space{
        background-color: #F5F5F5;
    }

    
    .col-6{
        justify-content: center;
        background-color: #F5F5F5;
        display: flex;
   
    }
    
  
    .col-6 input{
        display: none;
    }
    .col-6 label{
        display: block;
        cursor: pointer;
        border-right: 1px solid #d7d7d7;
        background: #e5e5e5;
        color: #555e64;
        width: 220px;
        height: 220px;
        font-size: 20px;
        text-align: center;
        padding: 43%;
        transition: .2s;
        border-radius: 50%;
    }
    .col-6 input[type="radio"]:checked + label {
        background-color: #F5E6E1;
        color: #fff;
    }

    .col-7{
        margin: 5%;
    }

    .sindanbotan{

    }

    .button{
        display       : inline-block;
        border-radius : 5px;          /* 角丸       */
        font-size     : 13pt;        /* 文字サイズ */
        text-align    : center;      /* 文字位置   */
        cursor        : pointer;     /* カーソル   */
        padding       : 12px 12px;   /* 余白       */
        background    : #F5E6E1;     /* 背景色     */
        color         :#555e64;     /* 文字色     */
        line-height   : 1em;         /* 1行の高さ  */
        transition    : .3s;         /* なめらか変化 */
        border        : 0px solid ;    /* 枠の指定 */
        margin-bottom: 200px;
    }